<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Aaron Smith and it uses Mapbox and Skynet to check the weather in a given location.</p>
            
            <img class="portait" src="/img/robot.png">
        </div>
        {{>footer}}
    </body>

</html>